body {
  margin: 0;
  padding: 0;
  font-family: 'Ropa Sans', sans-serif;
}

.main-container {
  width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow-x: auto;
  margin: auto;
  padding: 1px;
}

.header {
  padding: 40px 0;
  text-align: center;
}
.carousel-container {
  position: relative;
  max-width: 1250px;
  transition: 0.2s all;
}

.image-holder {
  display: inline;
  margin: 0 15px 0 0;
}

.image-holder span {
  display: inline-grid;
}

.user-name {
  display: inline-grid;
  padding: 15px 0;
}